html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html,
body {
    font-family: $font;
    font-weight: 400;
    min-height: 100%;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-wrapper {
    min-width: 320px;
    margin: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 15px;
    @media (min-width: $width-md) {
        padding-left: 45px;
        padding-right: 45px;
    }
}
.section-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
}
