.blog {
    margin-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.post-header {
    border-bottom: 1px solid $color-gray;
    &:last-child {
        border: none;
    }
    &__link {
        a {
            font-weight: 700;
            font-size: 18px;
            color: $color-purple;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__date {
        color: $color-pink;
        margin-top: -10px;
        font-size: 12px;
        text-transform: uppercase;
    }
    &__text {
        color: $color-purple;
    }
}
@import "components/paginators";
