.form {
    margin-top: 60px;
    &-caption {
        color: $color-purple;
        line-height: 30px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 40px;
        span {
            display: none;
        }
        @media (min-width: $width-md) {
            width: 500px;
            span {
                @include inline-block;
            }
        }
    }
    &__group {
        border: none;
        margin: auto;
        margin-bottom: 30px;
        text-align: left;
        padding-bottom: 40px;
        padding-top: 20px;
        @media (min-width: $width-md) {
            padding-left: 50px;
            padding-right: 50px;
            @include border;
            &--first {
                border: none;
                text-align: left;
                label {
                    text-align: left;
                }
            }
        }
        &--first {
            text-align: left;
            padding-left: 0;
            label {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            input {
                width: 100%;
            }
        }
        &--gray {
            background: #f2f2f2;
        }
        &__block {
            @include inline-block;
            margin-right: 20px;
        }
        &-title {
            display: block;
            margin: auto;
            padding-left: 20px;
            padding-right: 10px;
            text-transform: uppercase;
            color: $color-pink;
            @media (min-width: $width-md) {
                text-align: center;
            }
            &--bottom {
                margin-top: 10px;
                margin-bottom: 20px;
                text-align: center;
                @media (min-width: $width-md) {
                    text-align: left;
                }
            }
        }
        &-field {
            padding: 15px;
            width: 276px;
            @include border;
            text-align: left;
        }
    }
    &__radio-checkbox {
        display: block;
        position: relative;
        cursor: pointer;
        margin-top: 30px;
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
        }
    }
    &__checkbox-field,
    &__radio-field {
        display: none;
        & ~ label {
            padding-left: 60px;
        }
        &:checked ~ label::after {
            display: block;
        }
    }
    &__radio-field {
        & ~ label::before,
        & ~ label::after {
            border-radius: 50%;
        }
        & ~ label::before {
            width: 36px;
            height: 39px;
            top: -5px;
            left: 10px;
            @include border;
        }
        & ~ label::after {
            display: none;
            top: 7px;
            left: 21px;
            width: 15px;
            height: 15px;
            background-color: $color-pink;
        }
    }
    &__checkbox-field {
        & ~ label::before {
            width: 36px;
            height: 39px;
            top: -6px;
            left: 0;
            @include border;
        }
        & ~ label::after {
            display: none;
            width: 22px;
            height: 16px;
            top: 1px;
            left: 8px;
            @include border($color: $color-pink);
            border-top-style: none;
            border-right-style: none;
            transform: rotate(-45deg);
        }
    }
    &-counter {
        @include border;
        width: 276px;
        font-size: 0;
        &--people {
            @media (min-width: $width-md) {
                border: none;
                input {
                    border: none;
                    text-align: center;
                }
                button {
                    @include border;
                }
            }
        }
        input {
            @include inline-block;
            width: 160px;
            height: 50px;
            border-top: none;
            border-bottom: none;
            border-left: 2px solid $color-gray;
            border-right: 2px solid $color-gray;
            font: 400 18px / 30px $font;
            text-align: center;
        }
        &__btn {
            @include inline-block;
            width: 55px;
            height: 50px;
            background: #fff;
            text-align: center;
            border: none;
            i {
                font-size: 28px;
                opacity: .7;
            }
        }
    }
}
.username {
    position: relative;
    margin-top: 40px;
    padding-left: 64px;
    padding-top: 20px;
    counter-reset: myCounter;
    font-family: $font;
    font-size: 15px;
    color: #000;
    border-top: 2px solid $color-gray;
    &__item {
        list-style: none;
        position: relative;
        margin-bottom: 30px;
        text-align: left;
        &:before {
            counter-increment: myCounter;
            content: counter(myCounter);
            @include inline-block;
            position: absolute;
            left: -50px;
            top: 45px;
            text-align: center;
            line-height: 50px;
            @include border;
            border-right: none;
            width: 50px;
            height: 54px;
            @media (min-width: $width-md) {
                left: -70px;
                border-right: 2px solid $color-gray;
            }
        }
    }
    &__block {
        position: absolute;
        left: -33px;
        top: 15px;
        color: $color-pink;
    }
    &__title {
        @include inline-block;
        margin-bottom: 10px;
        margin-top: 15px;
        color: $color-pink;
        padding-left: 20px;
    }
    &__field {
        width: 215px;
        padding: 15px;
        display: block;
        @include border;
        @media (min-width: $width-md) {
            width: 300px;
        }
    }
    &__remove {
        display: none;
        border: none;
        position: absolute;
        top: 30%;
        background: #fff;
        text-transform: uppercase;
        margin-left: 70%;
        @media (min-width: $width-md) {
            display: block;
        }
    }
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    &:focus +label {
        text-decoration: underline;
    }
    & + label {
        display: block;
        margin-top: 20px;
        padding: 15px;
        @include border;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
.upload-list {
    margin-top: 30px;
    padding: 0;
    padding-top: 30px;
    font-size: 0;
    border-top: 2px solid $color-gray;
    text-align: left;
    li {
        @include inline-block;
        position: relative;
        margin-right: 20px;
        margin-bottom: 20px;
        font: 400 14px $font;
        @media (min-width: $width-md) {
            margin-right: 40px;
        }
    }
    &__btn-delete {
        display: block;
        position: absolute;
        top: -10px;
        right: -10px;
        width: 29px;
        height: 30px;
        border: $border;
        background: #fff;
        border-radius: 50%;
        color: rgba(#000, .3);
        font-size: 25px;
        line-height: 5px;
    }
}
.submit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $width-md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}
.submit-form {
    width: 276px;
    padding: 15px;
    background-color: $color-green;
    border: 2px solid $color-green;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}
.required-text {
    margin-top: 30px;
    text-transform: uppercase;
    span {
        color: $color-pink;
    }
}
