.form__group {
    border: none;
    max-width: 320px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    &:first-child {
        margin-top: 0;
    }
    &--gray {
        background: #f2f2f2;
    }
    &-title {
        display: block;
        width: 100%;
        margin: auto;
        text-transform: uppercase;
        color: $color-pink;
        &--bottom {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}
input {
    padding: 15px;
    max-width: 276px;
    @include border;
    text-align: center;
}

/* start checkbox и radio*/

label[for*="answer"] {
    display: block;
    position: relative;
    cursor: pointer;
    margin-top: 30px;
}
label[for*="answer"]::before,
label[for*="answer"]::after {
    content: '';
    display: block;
    position: absolute;
}
input[type="checkbox"],
input[type="radio"] {
    display: none;
}
input[type="radio"] ~ label::before,
input[type="radio"] ~ label::after {
    border-radius: 50%;
}
input[type="checkbox"]:checked ~ label::after,
input[type="radio"]:checked ~ label::after {
    display: block;
}
input[type="radio"] ~ label {
    padding-left: 60px;
}
input[type="radio"] ~ label::before {
    width: 36px;
    height: 39px;
    top: -5px;
    left: 60px;
    @include border;
}
input[type="radio"] ~ label::after {
    display: none;
    top: 8px;
    left: 72px;
    width: 15px;
    height: 15px;
    background-color: $color-pink;
}
input[type="checkbox"] ~ label::before {
    width: 36px;
    height: 39px;
    top: -6px;
    @include border;
}
input[type="checkbox"] ~ label::after {
    display: none;
    width: 22px;
    height: 16px;
    top: 1px;
    left: 8px;
    @include border($color: $color-pink);
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
}

/* end checkbox и radio*/

#date {
    margin-top: 30px;
}
.form-counter {
    @include border;
    width: 276px;
    margin: auto;
    font-size: 0;
    input {
        @include inline-block;
        width: 157px;
        border-top: none;
        border-bottom: none;
        font: 400 18px / 30px $font;
    }
}
.form-counter__btn {
    @include inline-block;
    background: white;
    text-align: center;
    border: none;
    i {
        font-size: 18px;
        opacity: .7;
    }
}
.username {
    margin-top: 40px;
    padding-left: 64px;
    padding-top: 20px;
    counter-reset: myCounter;
    font-family: $font;
    font-size: 15px;
    color: black;
    border-top: 2px solid $color-gray;
    &__item {
        list-style: none;
        position: relative;
        margin-bottom: 30px;
        text-align: left;
        &:before {
            counter-increment: myCounter;
            content: counter(myCounter);
            @include inline-block;
            position: absolute;
            left: -50px;
            top: 45px;
            text-align: center;
            line-height: 50px;
            @include border;
            border-right: none;
            width: 50px;
            height: 54px;
        }
    }
    &__block {
        position: absolute;
        left: -33px;
        top: 15px;
        color: $color-pink;
    }
    &__title {
        @include inline-block;
        margin-bottom: 10px;
        margin-top: 15px;
        color: $color-pink;
        padding-left: 20px;
    }
    &__field {
        width: 215px;
        display: block;
    }
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    display: block;
    max-width: 276px;
    margin-top: 20px;
    padding: 15px;
    @include border;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
.inputfile:focus + label,
.inputfile + label:hover {
    text-decoration: underline;
}
.upload-list {
    margin-top: 30px;
    padding: 0;
    padding-top: 20px;
    font-size: 0;
    border-top: 2px solid $color-gray;
    text-align: left;
    li {
        @include inline-block;
        position: relative;
        margin-right: 20px;
        margin-bottom: 20px;
        font: 400 14px $font;
    }
    &__btn-delete {
        display: block;
        position: absolute;
        top: -10px;
        right: -10px;
        width: 29px;
        height: 30px;
        border: $border;
        background: #fff;
        border-radius: 50%;
        color: rgba(#000, .3);
        font-size: 25px;
        line-height: 5px;
    }
}
input[type='submit'] {
    width: 276px;
    background-color: $color-green;
    border: 2px solid $color-green;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.required-text {
    margin-top: 30px;
    text-transform: uppercase;
    span {
        color: $color-pink;
    }
}
.success-popup,
.failure-popup {
    display: none;
    max-width: 320px;
    padding: 20px;
    box-shadow: 0px 7px 15px 0.00px rgba(0, 1, 1, 0.15);
}
.success-popup__btn,
.failure-popup__btn {
    display: block;
    width: 276px;
    margin-top: 30px;
    padding: 15px;
    background-color: $color-green;
    @include border($color: $color-green);
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
