.post-header {
    h2 {
        color: $color-purple;
        font-weight: 700;
        font-size: 30px;
    }
    &--center {
        text-align: center;
    }
}
.blog {
    ul {
        @extend %no-list;
        li {
            position: relative;
            margin-bottom: 40px;
            &:before {
                content: "";
                @include inline-block(middle);
                width: 7px;
                height: 7px;
                margin-right: 10px;
                border-radius: 50%;
                background-color: $color-pink;
                top: 50%;
            }
        }
    }
    &__caption {
        margin-top: 30px;
        color: $color-purple;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
    }
}
.post-blockquote {
    margin-top: 40px;
    border-left: $color-pink 2px solid;
    &__block {
        margin-left: 20px;
    }
    &__cite {
        padding-left: 20px;
        color: #8a8a8a;
        font-style: italic;
    }
}
