.popup {
    display: none;
    max-width: 320px;
    padding: 20px;
    box-shadow: 0px 7px 15px 0.00px rgba(0, 1, 1, 0.15);
    &__btn {
        display: block;
        width: 276px;
        margin-top: 30px;
        padding: 15px;
        background-color: $color-green;
        @include border($color: $color-green);
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
    }
}
