.header {
    background: url(../img/background-mobile@1x.jpg) no-repeat 50% 0;
    background-color: $color-tone;
    background-size: cover;
    min-height: 553px;
    &--second-page {
        background: url(../img/background-mobile@1x.jpg) no-repeat 50% 0;
        min-height: 235px;
    }
    &__top-menu {
        position: relative;
        @extend %clearfix;
        padding-top: 20px;
        background: $color-tone;
        background-color: rgba(29, 38, 49, 0.3);
        width: 100%;
        min-height: 66px;
        &--cross {
            background-color: $color-purple;
            box-shadow: 0 1px 0 #000;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    &__title {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 0;
        color: #fff;
        font-weight: 300;
        font-size: 24px;
        text-align: center;
        &:after {
            content: "";
            display: block;
            margin-top: 50px;
            width: 300px;
            height: 286px;
            background: url(../img/iphone-hand-mobile.png) no-repeat;
            background-size: 258px auto;
        }
        &--second {
            margin-bottom: 0;
            &:after {
                display: none;
            }
            span {
                display: block;
            }
        }
        &--cross {
            margin-bottom: 133px;
        }
    }
    @media (min-resolution: 1.5dppx) {
        background: url(../img/background-mobile@2x.jpg) no-repeat 50% 0;
    }
    @media (min-resolution: 2.5dppx) {
        background: url(../img/background-mobile@3x.jpg) no-repeat 50% 0;
    }
    @media (min-width: $width-md) {
        background: url(../img/iphone-hand-tablet@1x.png) no-repeat 70% 100%, url(../img/background-tablet@1x.jpg) no-repeat 50% 0;
        background-size: 700px, cover;
        min-height: 728px;
        @media (min-resolution: 1.5dppx) {
            background: url(../img/iphone-hand-tablet@2x.png) no-repeat 70% 100%, url(../img/background-tablet@2x.jpg) no-repeat 50% 0;
            background-size: 700px, cover;
        }
        &--second-page {
            background: url(../img/background-tablet@1x.jpg) no-repeat 50% 0;
            min-height: 440px;
            background-size: cover;
            @media (min-resolution: 1.5dppx) {
                background: url(../img/background-tablet@2x.jpg) no-repeat 50% 0;
                background-size: cover;
                min-height: 440px;
            }
        }
        &__top-menu {
            min-height: 105px;
        }
        &__content {
            width: 320px;
            margin-top: 20px;
            margin-left: 2%;
        }
        &__title {
            width: 200px;
            margin: auto;
            font-size: 40px;
            margin-top: 50px;
            margin-bottom: 0;
            &:after {
                display: none;
            }
            &--second {
                width: 100%;
            }
        }
    }
    @media (min-width: $width-lg) {
        background: url(../img/iphone-hand-desktop@1x.png) no-repeat 70% 100%, url(../img/background-fullsize.jpg) no-repeat 50% 0;
        background-color: $color-tone;
        background-size: 1000px, cover;
        min-height: 855px;
        @media (min-resolution: 1.5dppx) {
            background: url(../img/iphone-hand-desktop@2x.png) no-repeat 70% 100%, url(../img/background-fullsize.jpg) no-repeat 50% 0;
            background-size: 960px, cover;
            background-color: $color-tone;
            min-height: 855px;
        }
        &--second-page {
            background: url(../img/background-fullsize.jpg) no-repeat 50% 0;
            background-color: $color-tone;
            background-size: cover;
            min-height: 400px;
            @media (min-resolution: 1.5dppx) {
                background: url(../img/background-fullsize.jpg) no-repeat 50% 0;
                background-size: cover;
                background-color: $color-tone;
                min-height: 400px;
            }
        }
        &__wrapper {
            width: 950px;
            margin: auto;
            text-align: center;
        }
        &__title {
            width: 250px;
            font-size: 50px;
            margin-top: 100px;
            &--second {
                span {
                    display: inline-block;
                }
                margin-top: 70px;
                font-size: 50px;
                width: 800px;
            }
        }
    }
}
