.page-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 30px;
    &__copyright {
        margin-top: 30px;
        img {
            margin-left: 10px;
            vertical-align: middle;
            color: $color-pink;
        }
    }
    &__none {
        display: none;
    }
}
.social-buttons {
    margin-top: 30px;
    &__item {
        @include inline-block;
        width: 46px;
        height: 45px;
        margin-right: 10px;
        border-radius: 50%;
        border: $border;
        color: $color-purple;
        font-size: 20px;
        line-height: 40px;
        &:hover {
            background: $color-purple;
            color: #fff;
        }
    }
}
@import "components/map";
