.page-header {
    background: url(../img/iphone-hand-mobile.png) no-repeat 0% 36%, url(../img/background-mobile@1x.jpg) no-repeat 50% 0;
    background-color: $color-tone;
    background-size: 300px, 700px;
    min-height: 553px;
    @media (min-resolution: 1.5dppx) {
        background: url(../img/iphone-hand-mobile@2x.png) no-repeat 0% 36%, url(../img/background-mobile@2x.jpg) no-repeat 50% 0;
        background-size: 300px, 700px;
        background-color: $color-tone;
    }
    @media (min-resolution: 2.5dppx) {
        background: url(../img/iphone-hand-mobile@3x.png) no-repeat 0% 36%, url(../img/background-mobile@3x.jpg) no-repeat 50% 0;
        background-size: 300px, 700px;
        background-color: $color-tone;
    }
    @media (min-width: $width-md) {
        background: url(../img/iphone-hand-tablet@1x.png) no-repeat 70% 100%, url(../img/background-tablet@1x.jpg) no-repeat 50% 0;
        background-color: $color-tone;
        background-size: 700px, 1200px;
        min-height: 728px;
        @media (min-resolution: 1.5dppx) {
            background: url(../img/iphone-hand-tablet@2x.png) no-repeat 70% 100%, url(../img/background-tablet@2x.jpg) no-repeat 50% 0;
            background-size: 700px, 1200px;
            background-color: $color-tone;
        }
    }
    @media (min-width: $width-lg) {
        background: url(../img/iphone-hand-desktop@1x.png) no-repeat 70% 100%, url(../img/background-fullsize.jpg) no-repeat 50% 0;
        background-color: $color-tone;
        background-size: 1000px, cover;
        min-height: 855px;
        @media (min-resolution: 1.5dppx) {
            background: url(../img/iphone-hand-desktop@2x.png) no-repeat 70% 100%, url(../img/background-fullsize.jpg) no-repeat 50% 0;
            background-size: 1000px, cover;
            background-color: $color-tone;
            min-height: 855px;
        }
    }
    &--second-page {
        background: url(../img/background-mobile@1x.jpg) no-repeat 50% 0;
        background-color: $color-tone;
        height: 235px;
        min-height: 235px;
        background-size: 700px;
        @media (min-width: $width-md) {
            background: url(../img/background-tablet@1x.jpg) no-repeat 50% 0;
            min-height: 440px;
            background-color: $color-tone;
            background-size: 1200px;
            @media (min-resolution: 1.5dppx) {
                background: url(../img/background-tablet@2x.jpg) no-repeat 50% 0;
                background-size: 1200px;
                min-height: 440px;
                background-color: $color-tone;
            }
        }
        @media (min-width: $width-lg) {
            background: url(../img/background-fullsize.jpg) no-repeat 50% 0;
            background-color: $color-tone;
            background-size: cover;
            min-height: 400px;
            @media (min-resolution: 1.5dppx) {
                background: url(../img/background-fullsize.jpg) no-repeat 50% 0;
                background-size: cover;
                background-color: $color-tone;
                min-height: 400px;
            }
        }
    }
    &__top-menu {
        position: relative;
        @extend %clearfix;
        padding-top: 20px;
        background: $color-tone;
        background-color: rgba(29, 38, 49, 0.3);
        width: 100%;
        min-height: 66px;
        @media (min-width: $width-md) {
            min-height: 105px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin: auto;
        @media (min-width: $width-md) {
            margin-top: 20px;
            margin-left: 2%;
        }
    }
    &__title {
        margin-bottom: 340px;
        margin-left: 15px;
        margin-right: 15px;
        color: #fff;
        font-weight: 300;
        font-size: 24px;
        @media (min-width: $width-md) {
            width: 200px;
            margin: auto;
            font-size: 40px;
            margin-top: 50px;
            margin-bottom: 0;
        }
        @media (min-width: $width-lg) {
            width: 250px;
            font-size: 50px;
            margin-top: 100px;
        }
        &--second {
            span {
                display: block;
                @media (min-width: $width-lg) {
                    display: inline-block;
                }
            }
            @media (min-width: $width-md) {
                width: 100%;
            }
            @media (min-width: $width-lg) {
                margin-top: 70px;
                font-size: 50px;
                width: 800px;
                margin-top: 70px;
            }
        }
    }
}
.download-block {
    background: $color-tone;
    height: 271px;
    padding-top: 20px;
    @media (min-width: $width-md) {
        background: transparent;
    }
    p {
        font-weight: 300;
        font-size: 14px;
        color: #fff;
        width: 229px;
        margin: auto;
        margin-top: 20px;
        @media (min-width: $width-md) {
            font-size: 18px;
            width: 100%;
        }
    }
    &__btn {
        display: block;
        width: 281px;
        height: 55px;
        margin: auto;
        border: 3px solid #fff;
        color: #fff;
        border-radius: 30px;
        font-weight: 700;
        font-size: 18px;
        line-height: 48px;
        @extend %no-decor;
        &:hover {
            background: #fff;
            color: $color-pink;
            text-decoration: none;
        }
        &:active {
            opacity: 0.3;
        }
        @media (min-width: $width-lg) {
            font-size: 21px;
            margin-top: 50px;
            margin-bottom: 70px;
        }
    }
    &__list {
        @extend %no-list;
        margin-top: 25px;
        &-item {
            @include inline-block;
            margin-right: 25px;
            width: 50px;
            height: 60px;
            &--apple {
                background: url(../img/apple-logo.svg) no-repeat;
            }
            &--android {
                background: url(../img/android-logo.svg) no-repeat 0px 10px;
            }
            &--microsoft {
                background: url(../img/microsoft-logo.svg) no-repeat 0px 15px;
            }
        }
    }
}
.main-nav {
    display: block;
    float: left;
    width: 100%;
    @media (min-width: $width-lg) {
        float: none;
    }
    &__list {
        @extend %no-list;
        text-align: center;
        @media (min-width: $width-lg) {
            display: flex;
            justify-content: flex-end;
        }
    }
    &__item {
        display: block;
        background: $color-purple;
        padding: 15px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 #000;
        @media (min-width: $width-lg) {
            background: transparent;
            box-shadow: none;
            margin-right: 50px;
        }
        a {
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            @media (min-width: $width-lg) {
                font-size: 18px;
                text-transform: none;
                font-weight: 400;
                &:hover {
                    padding-bottom: 5px;
                    box-shadow: 0px 5px 0 -3px #fff;
                }
                &:active {
                    opacity: 0.3;
                    box-shadow: none;
                }
            }
        }
    }
    &__toggle {
        position: absolute;
        display: block;
        right: 20px;
        width: 50px;
        height: 24px;
        border: none;
        outline: none;
        cursor: pointer;
        fill: #fff;
        background: transparent;
        &-iconclose {
            display: none;
        }
        &--close {
            .main-nav__toggle-icon {
                display: none;
            }
            .main-nav__toggle-iconclose {
                display: block;
            }
        }
        @media (min-width: $width-md) {
            padding-top: 10px;
        }
        @media (min-width: $width-lg) {
            display: none;
        }
    }
    &__toggle {
        margin-right: 20px;
    }
    &--hide-block {
        display: none;
        @media (min-width: $width-lg) {
            display: block;
        }
    }
}
.logo {
    display: block;
    float: left;
    &--header {
        margin-left: 20px;
    }
    &__mobile {
        @media (min-width: $width-md) {
            display: none;
        }
    }
    &__tablet {
        display: none;
        width: 180px;
        margin: auto;
        @media (min-width: $width-md) {
            display: block;
        }
        @media (min-width: $width-lg) {
            display: none;
        }
        &--footer {
            display: block;
            margin-left: 0;
            @media (min-width: $width-lg) {
                display: none;
            }
            &:hover {
                fill: $color-pink;
            }
        }
    }
    &__desktop {
        display: none;
        @media (min-width: $width-lg) {
            display: block;
        }
    }
}
