.information {
    padding: 15px;
    &__title {
        font-weight: 300;
        font-size: 24px;
        color: $color-purple;
    }
    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin: auto;
        @media (min-width: $width-md) {
            flex-direction: row;
            text-align: left;
            width: 500px;
            margin: auto;
        }
    }
    &__item {
        max-width: 320px;
        &:last-child {
            @media (min-width: $width-md) {
                order: -1;
                align-self: flex-start;
                margin-right: 30px;
            }
        }
        p {
            font-size: 14px;
            color: $color-purple;
        }
    }
}
