.main-nav {
    display: none;
    position: absolute;
    top: 66px;
    width: 100%;

    &__list {
        @extend %no-list;
        text-align: center;
    }

    &__item {
        display: block;
        background: #283645;
        padding: 15px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
                    0 1px 0 #000;
        
        a {
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__toggle {
        position: relative;
        float: right;
        height: 24px;
        margin-right: 15px;
        padding-top: 30px;
        cursor: pointer;
        
        &--close {
            padding-top: 30px;

            a {
                background: transparent;
                height: 4px;
                width: 25px;
            }
        }

        a {
            background: #fff;
            display: block;
            position: relative;
            width: 50px;
            height: 5px;

            &:after,
            &:before {
                background: #fff;
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                width: 50px;
                transition: top 0.3s 0.6s, 
                            transform 0.3s;
            }

            &:after {
                @extend %main-nav-a-pseudo;
                top: 10px;
            }

            &:before {
                @extend %main-nav-a-pseudo;
                top: -10px;
            }
        }
    }
}


/*
%main-nav-a-pseudo {
    background: #fff;
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 50px;
    transition: top 0.3s 0.6s, 
                transform 0.3s;
}

.main-nav__toggle {
    
    a {
        
        &:after,
        &:before {
            background: #fff;
            content: "";
            display: block;
            position: absolute;
            height: 5px;
            width: 50px;
            transition: top 0.3s 0.6s, 
                        transform 0.3s;
        }

        &:after {
            @extend %main-nav-a-pseudo;
            top: 10px;
        }

        &:before {
            @extend %main-nav-a-pseudo;
            top: -10px;
        }
    }
}

*/

.main-nav__toggle--close {
    padding-top: 30px;
}

.main-nav__toggle--close a {
    width: 25px;
    height: 4px;
    background: transparent;
}

.main-nav__toggle--close a:after {
    width: 25px;
    height: 4px;
    transform: rotate3d(0, 0, 1, -45deg);
    transition: top 0.3s, transform 0.3s 0.5s;
    top: 0;
}

.main-nav__toggle--close a:before {
    width: 25px;
    height: 4px;
    transform: rotate3d(0, 0, 1, 45deg);
    transition: top 0.3s, transform 0.3s 0.5s;
    top: 0;
}