.table-price {
    min-width: 621px;
    overflow-x: scroll;
    margin: auto;
    &__header {
        min-width: 280px;
        border-right: 2px solid #fff;
        color: #fff;
        text-transform: uppercase;
        background: $color-purple;
        @media (min-width: $width-md) {
            min-width: 155px;
        }
        &:first-child {
            background: #fff;
            border: none;
            display: none;
            @media (min-width: $width-md) {
                display: table-cell;
            }
        }
        &__caption {
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 0;
        }
        p {
            margin-top: 0;
            font-size: 18px;
            font-weight: 300;
        }
        &--flag {
            position: relative;
            &:after,
            &:before {
                content: "";
                position: absolute;
                display: block;
            }
            &:after {
                top: 0;
                width: 74px;
                height: 73px;
                background: url(../img/slider-flag.png);
            }
            &:before {
                content: "Хит";
                color: #fff;
                font-weight: 600;
                text-transform: uppercase;
                top: 12px;
                left: 10px;
                z-index: 2;
                transform: matrix(0.707, -0.707, 0.707, 0.707, 0, 0);
            }
        }
    }
    &__item {
        position: relative;
        color: $color-purple;
        text-align: left;
        border: 2px solid $color-gray;
        padding: 15px;
        font-size: 14px;
        text-transform: uppercase;
        &:first-child {
            display: none;
        }
        @media (min-width:$width-md) {
            text-transform: none;
            color: transparent;
            &:first-child {
                display: table-cell;
                color: $color-purple;
            }
        }
    }
    &__item--yes,
    &__item--no {
        position: absolute;
        right: 20px;
        top: 25%;
        @media (min-width: $width-md) {
            right: 40%;
        }
    }
    &__item--yes {
        fill: #44c84b;
    }
    &__item--no {
        fill: #f36735;
    }
}
