.timer {
    display: none;
    &__column {
        min-width: 300px;
        &:last-child {
            max-width: 600px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 30px;
    }
    a {
        color: $color-pink;
        &:hover {
            text-decoration: none;
        }
    }
    @media (min-width: $width-md) {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
